@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<div class="container">
    <div class="container-fluid">
        <section>
            <div class="text-center">
                <img src="@Umbraco.Field("projectImage")" class="logo-image" />
            </div>
            <div class="text-center">
                <p class="text-center"><b>Status:</b> @Umbraco.Field("projectStatus")</p>
                <p class="text-center"><b>Project Name:</b> @Umbraco.Field("projectName")</p>
                <p class="text-center"><b>Project Description:</b> @Umbraco.Field("projectDescription")</p>
            </div>
        </section> 
    </div>
</div>
 
